@import "tailwindcss";


ul {
  list-style: none;
}

.button {
  padding: 10px 30px;
  background: beige;
  font-weight: 300;
}

.title {
  font-size: 48px;
}

.section {
  padding: 50px 0px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.4fr 1.4fr 0.4fr 1.4fr 0.4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "first first first first first . second second second second second";
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}


.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.4fr 1fr 1fr 1fr 0.4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fourth fourth fourth . five five five . six six six";
}

.fourth {
  grid-area: fourth;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.contact_info {
  width: calc(40%);
}

.contact_image {
  width: calc(50%);
}

.footer_block {
  width: 300px;
}