@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/thumbs';
@import 'leaflet/dist/leaflet.css';

html {
  scroll-behavior: smooth;
}


ul {
  list-style: none;
}

.ant-checkbox-label {
  color: white;
}

.button {
  padding: 10px 30px;
  background: #121A1F;
  font-weight: 300;
  color: white;
  border-radius: 10px;

}

.title {
  font-size: 48px;
}

.section {
  padding: 50px 0px;
}

.container {
  width: 60%;
}

/* grid */
.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.4fr 1.4fr 0.4fr 1.4fr 0.4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "first first first first first . second second second second second";
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}


.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.4fr 1fr 1fr 1fr 0.4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fourth fourth fourth . five five five . six six six";
}

.fourth {
  grid-area: fourth;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

/* contact */
.contact_info {
  width: calc(40%);
}

.contact_image {
  width: calc(50%);
}


/* footer */
.footer_block {
  max-width: 300px;
}

.footer_block-title {
  font-size: 18px;
  font-weight: 500;
}

.filter_block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.callback-input {
  border-radius: 5px;
}


/* adaptive */
@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {

  .filter__container {
    width: 20%;
  }


}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}